*.txt text
*.html text
*.css text
*.js text
*.xml text
*.xsl text
*.py text
*.json text
*.bat text
*.yml text
*.java text
*.gradle text
*.url text
.gitattributes text
Dockerfile text
.gitignore text
*.properties text
gradlew text
*.pro text
